<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SevenChannel</title>
    <link rel="stylesheet" href="../public/css/loader.css">
</head>

<body>
    <div id="background" class="deactive"></div>
    <h1>Welcome</h1>
    <form id="register-form">
        <label>Email:</label>
        <input type="text" id="email-input">
        <label>Username:</label>
        <input type="text" id="username-input">
        <label>Password:</label>
        <input type="text" id="password-input">
        <label>rePassword:</label>
        <input type="text" id="repassword-input">
        <label>Description:</label>
        <input type="text" id="description-input">
        <button id="submit-button">Login</button>
    </form>
    <a href="/login">Are you registered? Login!</a>
    <script src="public/js/register.js"></script>
</body>

</html>