<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/loader.css">
</head>

<body>
    <div id="background" class="deactive"></div>
    <form>
        <label for="title-input">Title</label>
        <input type="text" name="title" id="input-title">
        <label for="description-input">Description</label>
        <input type="text" name="description" id="input-description">
        <button id="submit-button">Publish</button>
    </form>
</body>

</html>