<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/loader.css">
</head>

<body>
    <div id="background" class="deactive"></div>
    <form>
        <label for="title-input">Title</label>
        <input type="text" name="title" id="title-input">
        <label for="discussion-input">Discussion</label>
        <input type="text" name="discussion" id="discussion-input">
        <button id="submit-button">Publish</button>
    </form>
    <script src="../public/js/thread-create.js"></script>
</body>

</html>